<%- model_class = Inventory -%>
<% content_for :title, "Inventory" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">System Inventories</li>
<%end%>
<div class="row-fluid">
<%- count = 0%>
<% if @inventories.count > 0%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      <th>Available Quantity</th>
      <th>Blocked Quantity</th>
      <th>Total Deliverd Quantity</th>
      <th>Currently Ordered Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <%- count = count + 1%>
        <%- product = inventory.product%>
        <td><%= count%></td>
        <td><%= product.name %></td>
        <td><%= product.available_products(current_user.id) %></td>
        <td><%= product.blocked_products(current_user.id) %></td>
        <td><%= product.delivered_products(current_user.id) %></td>
        <td><%= product.ordered_products(current_user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h4>No Stock.</h4>
<%end%>
</div>