<%- model_class = Inventory -%>
<%- count = 0%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% if @inventories.count > 0%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:count) %></th>
      <th><%= model_class.human_attribute_name(:quantity) %></th>
      <th><%= model_class.human_attribute_name(:product_id) %></th>
      </tr>
  </thead>
  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <%- count = count + 1%>
        <%- product = inventory.product%>
        <td><%= count%></td>
        <td><%= product.available_products(current_user.id) %></td>
        <td><%= product.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%else%>
<h4>No Stock.</h4>
<%end%>