<div class="dialog">
    <div class="block">
        <p class="block-heading">Reset your password</p>
        <div class="block-body">
        	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  				<%= devise_error_messages! %>
				<%= f.label :email_address %>
  				<%= f.email_field :email, :autofocus => true %>
				<div><%= f.submit "Send",class: "btn btn-primary pull-right" %></div>
			<% end %>


       	<div class="clearfix"></div>	
        </div>	
    </div> 
    <%= render "devise/shared/links" %>
</div>       