<%= display_error_block(@purchase)%>
<div class="new-purchase-div">
<%= form_for @purchase, :html => { :class => 'form-horizontal' } do |f| %>
<% if current_user.is_admin?%>
  <div class="control-group">
    <%= f.label :vendor_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :vendor_id, Vendor.active.to_a, :id, :name, :prompt => true  %>
    </div>
  </div>
<%#elsif current_user.is_distributor?%>
  <%#= f.hidden_field :state, :value => "ordered"%>
<%end%>
  <%= f.fields_for :invoice do |builder| %>
     <%= render "invoice_fields", :f => builder %>
  <% end %>
<span style="display:none" class="current_user" rel=<%=current_user.is_admin?%>></span>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary create-purchase' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                 purchases_path, :class => 'btn' %>
  </div>
<% end %>
</div>