<%- model_class = Purchase -%>
<%- count = 0%>
<div class="page-header">
  <% if @from == 'purchase_order'%>
    <h1>Purchase Order</h1>
  <%else%>
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%end%>  
</div>

<%- @purchases ||= [] %>
<% if @purchases.count > 0%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Count</th>
      <% if current_user.is_admin?%>
        <th> Vendor </th>
      <%end%>
      <th>Items Ordered</th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>State</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
      	<%- invoice = purchase.invoice%>
      	<%- count = count+1 %>
      	<td><%= link_to count, purchase_path(purchase) %></td>
        <% if current_user.is_admin?%>
          <td><%= purchase.vendor.name%></td>
        <%end%>
        <td><%= invoice.products.count %></td>
        <td><%= invoice.no_of_unit%></td>
        <td><%= invoice.price_after_discount%></td>
        <td><%= purchase.state%></td>
        <td><%=long_date_format(local_time_zone(purchase.created_at))%></td> 
        <% if purchase.is_ordered?%>
          <td><%= link_to "Mark as Received", update_state_purchase_path(purchase)%></td>
        <%end%>
      </tr>
    <%end%> 
   </tbody>
   </table>    


<%else%>
  <% if @from == 'purchase_order'%>
    <h4>No Any Purchase Ordered.</h4>
  <%else%>
    <h4>No Any Purchase made.</h4>  
  <%end%>

<%end%>
<%if current_user.is_admin?%>
  <%= link_to "Create New Purchase",new_purchase_path,:class => 'btn btn-primary' %>
<%end%>

