<div id="error_explanation" style="display:none" class='sales-error-div'>
    <h2>Following errors prohibited this post from being saved:</h2>
    <ul></ul>
</div>
<%= display_error_block(@sale)%>

<%= form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
  <div><%= f.hidden_field :user_role, :value => current_user.role %></div>
<%if current_user.is_admin?%>
  <div class="control-group">
    <%= f.label :location_id, :class => 'control-label' %>
    <div class="controls">
       <%#= f.collection_select :location_id, @locations, :id, :name, :prompt => true  %>
       <%= f.collection_select :location_id, Location.order(:name), :id, :name, :prompt => true  %>
    </div>
  </div>
<%end%>
<%if current_user.is_distributor?%>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
       <%#= f.collection_select :location_id, @locations, :id, :name, :prompt => true  %>
       <%= f.collection_select :client_id, Client.order(:name), :id, :name, :prompt => true  %>
    </div>
  </div>
<%end%>
<%if current_user.is_admin?%>
  <%unless @display_error%>
  <div class="sub-div">
    <%end%>
    <div class="control-group">
      <%= f.label :distributor_id, :class => 'control-label' %>
      <div class="controls">
      <%#= f.collection_select :distributor_id, User.distributors, :id, :full_name, :prompt => true  %>
        <%= f.grouped_collection_select :distributor_id, Location.order(:name),:distributors, :name, 
          :id, :full_name, :prompt => true  %>
      </div>
    </div>
<%end%>    
    <%= f.fields_for :invoice do |builder| %>
      <%= render "invoice_fields", :f => builder %>
    <% end %>

  <%if current_user.is_admin?%>
    <%unless @display_error%>
      </div>
    <%end%>
  <%end%>

   
  <%if current_user.is_admin? && !@display_error%><div class="sales-div-actions"><%end%>
  <div class="form-actions ">
    <%if current_user.is_distributor?%>
        <%= f.submit nil, :class => 'btn btn-primary create-sale-button from-distributor' %>
    <%else%>
        <%= f.submit nil, :class => 'btn btn-primary create-sale-button' %>
    <%end%>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sales_path, :class => 'btn' %>
  </div>
  <%if current_user.is_admin? && !@display_error%></div><%end%>
<% end %>
<div class="new-distributor-div">
</div>  
