<%- model_class = Sale -%>
<% content_for :title, "Sale" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Manage Sales</li>
<%end%>
<div class="row-fluid">
  <%- count = 0%>
<% if @sales.count > 0%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
        <%if current_user.is_admin?%>
          <th> Distributor </th>
        <%elsif current_user.is_distributor?%>
          <th> Client </th>
        <%end%>  
      <th>Sale Items </th>
      <th>Quantity</th>
      <th>Amount</th>
      <th>State</th>
      <th>Order Date</th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <%- invoice = sale.invoice%>
        <%- count = count+1 %>
        <td><%= link_to count, sale_path(sale) %></td>
        <%if current_user.is_admin?%>
          <td><%= sale.distributor.name%></td>
        <%elsif current_user.is_distributor?%>
          <td><%=link_to sale.client.name%></td>
        <%end%>    
        <td><%= invoice.products.count %></td>
        <td><%= invoice.no_of_unit%></td>
        <td><%= invoice.price_after_discount%></td>
        <td><%= sale.state%></td>
        <td><%=long_date_format(local_time_zone(sale.created_at))%></td> 
        <%if current_user.is_distributor? && sale.is_ordered?%>
          <td><%= link_to "Mark as Delivered", update_state_sale_path(sale)%></td>
          <td><%= link_to "Cancel Order", sale_path(sale),:method => 'delete',
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
              %></td>

        <%end%>
      </tr>
    <%end%> 
   </tbody>
   </table>    

<%else%>
  <h4>No Any Sales made.</h4>
<%end%>
<% if current_user.inventories.count>0%>
<%= link_to "Create New Sale",
            new_sale_path,
            :class => 'btn btn-primary' %>
<%else%>
  <h4>No Stock in System!!!</h4>
<%end%>
</div>


