<%- model_class = Sale -%>
<% content_for :title, "Sale" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Show Sale</li>
<%end%>
<div class="row-fluid">

<dl class="dl-horizontal">
      <%if current_user.is_admin?%>
        <dt><strong>Location:</strong></dt>
        <dd><%= @location.name %></dd>
      <%elsif current_user.is_distributor?%>
        <dt><strong>Client:</strong></dt>
        <dd><%= @client.name %></dd>
      <%end%>
      <dt><strong>Total Items sale:</strong></dt>
      <dd><%= @sale.invoice.products.count %></dd>
      <dt>Items:-</dt>
      <br/>
  </dl>
  <%- count = 0%>
  <ul>
  <%for invoice_product in @sale.invoice.invoice_products do %>
    <li>
      Product-<%= count+1%>
      <%-count = count+1%>
      <ul>
        <li>Name:</li>
        <li><%= invoice_product.product.name %></li>
        <li>No of unit</li>
        <li><%=invoice_product.no_of_unit %></li>
        <li>Unit Price</li>
        <li><%= invoice_product.unit_price%></li>
        <li>Total Price</li>
        <li><%= invoice_product.total_price%></li>
        <li>Discount</li>
        <li><%= invoice_product.discount%></li>
        <li>Discount After Price</li>
        <li>Item State</li>
        <li><%= invoice_product.state%></li>
      </ul>
    </li>  
  <%end%>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              sales_path, :class => 'btn'  %>
  <%# if @sale.is_ordered?%>                  
  <%#= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_sale_path(@sale), :class => 'btn' %>
  <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              sale_path(@sale),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  <%#end%>              
</div>

</div>

