<%- model_class = Location -%>
<% content_for :title, "Location" %>
<% content_for :sub_title do %>
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Manage Location</li>
<%end%>

<div class="row-fluid">
  <div class="btn-toolbar">
    <%= link_to "Add New Location",
            new_location_path,
            :class => 'btn btn-primary' %>

    <div class="btn-group"></div>
  </div>
<div class="well">
<% if @locations.count > 0%>            
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th>Created on</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% count = 0%>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to count+1, location_path(location) %></td>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= location.city %></td>
        <td><%=long_date_format(local_time_zone(location.created_at))%></td>
        <td>
           <a href="/locations/<%= location.id%>/edit"><i class="icon-pencil"></i></a>
                <a data-toggle="modal" data-method="delete" data-confirm="Are you sure you want to delete this  Location?" role="button" href="locations/<%=location.id%>"><i class="icon-remove"></i></a>


          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_location_path(location), :class => 'btn btn-mini bdtn-danger' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      location_path(location),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => "Are you Sure you want to remove this location? All distributors and clients related to this Location will get remove.") },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Add New Distributor", new_location_distributor_path(location),:class => 'btn btn-mini btn-danger margin-left20' %> 
           <%= link_to "View Distributors", location_distributors_path(location),:class => 'btn btn-mini btn-danger margin-left20' %>                     
        </td>
      </tr>
      <% count = count+1%>
    <% end %>
  </tbody>
</table>
<%else%>
  <h4>No Any Location</h4>
<%end%>
</div>
</div>  


