<%- model_class = Location -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= link_to "Add New Location",
            new_location_path,
            :class => 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Count</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:city) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% count = 0%>
    <% @locations.each do |location| %>
      <tr>
        <td><%= link_to count+1, location_path(location) %></td>
        <td><%= link_to location.name, location_path(location) %></td>
        <td><%= location.city %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_location_path(location), :class => 'btn btn-mini bdtn-danger' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      location_path(location),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => "Are you Sure you want to remove this location? All distributors and clients related to this Location will get remove.") },
                      :class => 'btn btn-mini btn-danger' %>
          <%= link_to "Add New Distributor", new_location_distributor_path(location),:class => 'btn btn-mini btn-danger' %> 
           <%= link_to "View Distributors", location_distributors_path(location),:class => 'btn btn-mini btn-danger' %>                     
        </td>
      </tr>
      <% count = count+1%>
    <% end %>
  </tbody>
</table>


